sudo: false
os:
  - linux

dist:
  - trusty

language: rust

rust:
  - 1.23.0
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

script:
  - cargo build --all --all-features --verbose -j 1
  - cargo test  --all --all-features --verbose -j 1

cache:
  cargo: true

notifications:
  email:
    on_success: never
  irc:
    channels:
      - chat.freenode.net#imag
    template:
      - "%{repository_name} (%{branch} @ %{commit} by %{author}): %{result}"

